
/*Hgroup*/
h1, h2, h3, h4, p {
  font-family: 'Marcellus SC', serif;
  color: #2a2a2a;
}
p {
  font-family: serif;
  font-size:120%;
  line-height:1.2;
  font-weight: bold;
  color: #2a2a2a;
}

* {
  background-color: #F2F2F2;
}

.img {
  height: 100%;
  width: 100%;
}

/*HERO*/
.hero {
margin-top: 129px;
}

.nav-wrapper {
  padding-bottom: 0px;
  margin-bottom: 0;
  height: 230px;
  border-bottom: solid #4b5320  10px;
}

.reg-btn {
  margin-top: 35px;
  margin-bottom: 35px;
}
.logo-png {
  padding-left: 47px;
}
